<img src = "https://w7.pngwing.com/pngs/491/262/png-transparent-bmw-i8-bmw-i3-electric-vehicle-yellow-sports-car-text-rectangle-logo.png" alt = "private"  height="25%">




    <!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/x-series/ix3/2021/onepager/bmw-ix3-onepager-stage-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1625746539624.jpg" alt = "private">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The iX3</h4>
		<p>The new BMW iX3 looks sportier than ever thanks to the standard M Sport package. Aerodynamic elements and blue design elements remind that this is a fully electric vehicle. Short trips or long trips? With a driving range of up to 456 km* the BMW iX3 is the ideal solution for every trip.
			* The electric driving range is according to the laboratory tests and may vary depending on the road conditions, climate, vehicle maintenance, driving characteristics and battery wear which affects its capacity and may be lower than the manufacturer's data.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The iX3</h4>
		<p>Thanks to the perfect combination between the efficient power transmission system, aerodynamic design and powerful high-voltage battery, innovative technologies, such as regenerative braking, help to extend the driving range and reduce energy consumption.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/bmw/marketIL/bmw_co_il/he_IL/all-models/x-series/iX3/2021/bmw-ix3-highlights/jcr:content/par/multicontent/tabs/multicontenttab/items/smallteaser_8b5d/image.transform/smallteaser/image.1628007100777.jpg" alt="private">
	</div>
</div>
	
