<img src = "https://upload.wikimedia.org/wikipedia/commons/d/d2/BMW_1970-1989_Logo.svg" alt = "private"  height="25%">

<!-------------------------boxes----------------------------->
<div class = "box">
<div class = "content">
    <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/8-series/convertible/2022/onepager/bmw-8-series-convertible-onepager-ms-m-sport.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1642508744237.jpg" alt = "private">
</div>
</div>

<div class = "box">
<div class = "content">
    <h4>The series 8</h4>
    <p>The BMW 8 Series Cabriolet is a true luxury car that gives a unique feeling of freedom on every drive. Especially for you:
        Impressive iconic design.
        Sporty dynamic driving capabilities and super-precise behavior.
        Luxury and rich accessories for maximum comfort.</p>
</div>
</div>

<div class = "box">
<div class = "content">
    <h4>The series 8</h4>
    <p>The glass with the CraftedClarity finish visually and usefully upgrades the interior of the vehicle. The gear selector, the BMW controller and the start/silent button are all made of high-quality crystal.</p>
</div>
</div>

<div class = "box">
<div class = "content">
    <img src = "https://www.bmw.co.il/content/bmw/marketIL/bmw_co_il/he_IL/all-models/8-series/convertible/2022/bmw-8-series-convertible-highlights/jcr:content/par/multicontent_e42/tabs/multicontenttab_8b2d/items/smallteaser_1434/image.transform/smallteaser/image.1661321413685.jpg" alt="private">
</div>
</div>
