<img src = "https://www.carbonaccents.co.uk/cdn/shop/products/IMG_26932_c4ad8efd-fbca-4980-a6be-3ebe1a548e58.jpg?v=1638570242&width=1125" alt = "private"  height="25%">

 <!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/m-series/m4-coupe/2020/highlights/bmw-4-series-coupe-m-automobiles-mc-product-highlights-m4-competition-hero-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1627456607177.jpg" alt = "private">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The M4 Coupe</h4>
		<p>The representative of the M division in the 4 series combines aesthetics, character and athleticism with technologies developed for the race track and performance accordingly - with a TwinPower Turbo engine with a powerful output of 510 hp. It is equipped with M Steptronic - an eight-speed automatic transmission, with an active differential and a series of assemblies dedicated to sports performance and dynamic capabilities Superiority, on the road and on the race track.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The M4 Coupe</h4>
		<p>The BMW M Performance exhaust system is the result of a collaboration between BMW M GmbH and Akrapovič, one of the leading producers of premium-quality titanium exhaust systems.</p>		
	
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/bmw/marketIL/bmw_co_il/he_IL/all-models/m-series/m4-coupe/2020/bmw-4-series-coupe-m-automobiles-overview/jcr:content/par/multicontent_3f54/tabs/multicontenttab_8838/items/smallteaser_66ad/image.transform/smallteaser/image.1662260946069.jpg" alt="private">
	</div>
</div>
