<h1 class = "header">Models</h1>
<!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<h4>BMW M4 Coupe</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/m-series/m4-coupe/2020/highlights/bmw-4-series-coupe-m-automobiles-mc-product-highlights-m4-competition-hero-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1627456607177.jpg" alt ="Realoading" width="25%">
        <a href="bmwM4Coupe_path"> <button class="buttonSubmit">More details</button> </a>
    </div>
</div>

<div class = "box">
	<div class = "content">
		<h4>BMW series 1</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/1-series/5-door/2021/highlights/bmw-1-series-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1631778257356.jpg" alt ="Realoading" width="25%">	
		<a href="bmwseries1_path"> <button class="buttonSubmit">More details</button> </a>
	</div>
</div>

<div class = "box">
	<div class = "content">
		<h4>BMW 8 Series Cabriolet</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/8-series/convertible/2022/onepager/bmw-8-series-convertible-onepager-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1643012834740.jpg" alt ="Realoading" width="25%">
		<a href="bmw8series_path"> <button class="buttonSubmit">More details</button> </a>
    </div>
</div>

 <div class = "box">
     <div class = "content">
                <h4>BMW X6</h4>
                <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/x-series/x6/2019/inspire/bmw-xseries-x6-inspire-sp-xxl.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1593075449111.jpg" alt ="Realoading" width="25%">	
		<a href="bmwX6_path"> <button class="buttonSubmit">More details</button> </a>
	</div>
</div>