<h1 class = "header">Electric Models</h1>

<!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<h4>BMW iX</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i20-new/onepager/bmw-x-series-ix-onepager-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1621586784308.jpg" alt ="Realoading" width="25%">
        <a href="bmwix_path"> <button class="buttonSubmit">More details</button> </a>
    </div>
</div>

<div class = "box">
	<div class = "content">
		<h4>BMW i7</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i7/2022/Highlights/bmw-7-series-i7-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1687168645624.jpg" alt ="Realoading" width="25%">	
		<a href="bmwI7_path"> <button class="buttonSubmit">More details</button> </a>
	</div>
</div>

<div class = "box">
	<div class = "content">
		<h4>BMW i4 M50</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/m-series/i4-m50/2021/onepager/bmw-i4-m50-onepager-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1626079843660.jpg" alt ="Realoading" width="25%">
		<a href="bmwI4M5o_path"> <button class="buttonSubmit">More details</button> </a>
    </div>
</div>

 <div class = "box">
            <div class = "content">
		<h4>BMW iX3</h4>
        <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/x-series/ix3/2021/onepager/bmw-ix3-onepager-stage-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1625746539624.jpg" alt ="Realoading" width="25%">	
		<a href="bmwIX3_path"> <button class="buttonSubmit">More details</button> </a>
	</div>
</div>