<img src = "https://w7.pngwing.com/pngs/491/262/png-transparent-bmw-i8-bmw-i3-electric-vehicle-yellow-sports-car-text-rectangle-logo.png" alt = "private"  height="25%">

    <!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i7/2022/Highlights/bmw-7-series-i7-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1687168645624.jpg" alt = "private">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The i7</h4>
		<p>The fully electric BMW i7 combines the performance of an electric vehicle with an exciting entertainment system and creates an unforgettable driving experience.
			A "pleasant and unique" welcome upon entering the car.
			Crossing lights in crystal finish and BMW "Iconic Glow" lighting in the radiator grill.
			A luxurious atmosphere in the interior with customization of the modes (My Modes).
			The 31.3-inch Theater Screen in the rear passenger cabin provides a cinema experience (future option, currently not available in Israel).
			Fully electric driving range: 536 hp*, 600 km*.
			BMW i7 xDrive60*:   
			Photo illustration. The data of the electric travel range are according to the laboratory tests. The actual driving range may vary depending on the vehicle's equipment, road conditions, climate, vehicle maintenance, driving characteristics and battery wear which affects its capacity and the driving range, which decreases with the passage of time. Therefore the actual data can be lower than the manufacturer's data.
			</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The i7</h4>
		<p>The cobalt and lithium raw materials in the high-voltage battery of the new BMW i7 are sourced from responsible mining.
			There are no rare metals in the engine of the new BMW i7.
			Recycled materials such as the Econyl plastic fiber in the floor covering of the new BMW i7 conserve existing resources.
			Measures such as using 100% renewable energy in the production process reduce the potential greenhouse effect by up to 18%.</p>
	
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i7/2022/Highlights/bmw-7-series-i7-ms-sustainability.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1687168656520.jpg" alt="private">
	</div>
</div>
	
