<img src = "https://upload.wikimedia.org/wikipedia/commons/d/d2/BMW_1970-1989_Logo.svg" alt = "private"  height="25%">

   <!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/1-series/5-door/2021/highlights/bmw-1-series-mc-design-hero-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1632213949847.jpg" alt = "private">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The series 1</h4>
		<p>The BMW 1 Series inspires with the design language that sets it apart from all the rest, from the first exterior look to the spacious, modern passenger cabin built from top quality materials. A ground-breaking technology chassis and front-wheel drive (for the first time in this series) guarantee a dynamic, powerful and agile driving experience. The innovative technologies and driver assistance systems will always bring you to your destination comfortably and safely.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The series 1</h4>
		<p>The finish of the exhaust pipe with a diameter of 90 mm (on the left side in 3-cylinder engines and on the left and right sides in 4-cylinder engines) provides visual emphasis and upgrades the sporty character of the vehicle.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/bmw/marketIL/bmw_co_il/he_IL/all-models/1-series/5-door/2021/bmw-1-series-inspire/jcr:content/par/multicontent/tabs/multicontenttab/items/smallteaser_1437006598/image.transform/smallteaser/image.1644139593076.jpg" alt="private">
	</div>
</div>
