<!------------------------header-------------------------------->
<h1 class = "header">BMW</h1>
    
<div class = "box">
    <div class = "content">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/270px-BMW_logo_%28gray%29.svg.png" alt="image link here" width="49%">
        <h1>Bayerische Motoren Werke AG </h1>
        <p>Bayerische Motoren Werke AG, abbreviated as BMW , is a German multinational manufacturer of luxury vehicles and motorcycles headquartered in Munich, Bavaria, Germany. The company was founded in 1916 as a manufacturer of aircraft engines, which it produced from 1917 to 1918 and again from 1933 to 1945.</p>
    </div>
</div>
<!---------------------------------->
<div class = "box">
    <div class = "content">
        <img src="https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/newcat/newcat-ef.jpg?imwidth=1280" alt="image link here" width="40%">
        <h1>Electric Future </h1>
        <p>The engine of the future will be powered by electricity. And the future starts here and now. We invite you to take a glimpse at the innovations that will define our mobility. In doing so, we span the spectrum from today’s technologies to hydrogen and upcoming technologies. This electric future offers tremendous opportunities for a greener and more sustainable society.</p>
         <!------------->>
        <img src="https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/newcat/newcat-cw.jpg?imwidth=1280" alt="image link here" width="40%">
        <h1>Circular World </h1>
        <p>Sustainability and circular thinking go hand in hand. Technologies and entrepreneurship help develop solutions that lead us harmoniously into the future. Recycling and conserving resources are an integral part of this journey. All under the motto: RE:DUCE, RE:USE, RE:CYCLE, RE:THINK. Join us on our search for the trends and drivers that are shaping our future while protecting the environment.</p>
    </div>
</div>
