<img src = "https://m.media-amazon.com/images/I/51UIMqF38TL.jpg" alt = "private"  height="25%">

<!-------------------------boxes----------------------------->
<div class = "box">
<div class = "content">
    <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/x-series/x6/2019/navigation/BMW-X6_ModelCard.png/jcr:content/renditions/cq5dam.resized.img.585.low.time1594294634857.png" alt = "private">
</div>
</div>

<div class = "box">
<div class = "content">
    <h4>The X6</h4>
    <p>Special and uncompromising, the new BMW X6 radiates self-confidence. A body with an athletic design and a new and unique design language backed by exclusive and futuristic technologies such as BMW's iconic and illuminated kidney grill. All of this with the goal of achieving one thing: absolute dominance - the new BMW X6 does it in practice. The BMW X6 - meets all expectations and even exceeds them, as never before.</p>
</div>
</div>

<div class = "box">
<div class = "content">
    <h4>The X6</h4>
    <p>The standard ambient lighting, which includes the contour lighting in the front and rear doors, creates a calm and pleasant atmosphere inside the vehicle. The entrance lighting mat illuminates the area in front of the doors when entering and exiting the vehicle. You can choose one of six shades: white, blue, orange, bronze, purple-pink and green</p>
</div>
</div>

<div class = "box">
<div class = "content">
    <img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/x-series/x6/2021/highlights/bmw-x6-onepager-mc-new-edition-hero-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1625151661260.jpg" alt="private">
</div>
</div>
