<img src = "https://w7.pngwing.com/pngs/491/262/png-transparent-bmw-i8-bmw-i3-electric-vehicle-yellow-sports-car-text-rectangle-logo.png" alt = "private"  height="25%">

    <!-------------------------boxes----------------------------->
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i20-new/onepager/bmw-x-series-ix-onepager-sp-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1621586784308.jpg" alt = "private">
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The iX</h4>
		<p>The car that was born completely electric, iX is the result of BMW's vision to chart the future of the world of electric mobility. Combining eDrive technology with the dual-motor power unit, directly to all wheels, increases its driving range to unprecedented dimensions and catapults it to powerful acceleration from a standstill. All this within an innovative shell that allows the driver to operate its systems intuitively and effortlessly.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<h4>The iX</h4>
		<p>The electric sport-leisure vehicle can reach a huge range between charges thanks to the extremely efficient structure, which makes it outstanding in low energy consumption: less than 23 kWh/hour. Among other things, this ability is achieved through precise aerodynamic planning that reduces the drag coefficient to an unprecedented value In the sport-leisure segment - only 0.25. The maximum range can be reached by the top model based on xDrive50. The maximum range of the model based on xDrive40 is 408 km*. In both configurations - iX is the ideal car for driving in the city and long distances.
			* The electric driving range data is the average range according to the laboratory tests. The actual driving range may vary depending on the vehicle's equipment, road conditions, climate, vehicle maintenance, driving characteristics and battery wear which affects its capacity and the driving range which decreases with the passage of time. Therefore, the actual data may be lower than the manufacturer's data.</p>
	</div>
</div>
	
<div class = "box">
	<div class = "content">
		<img src = "https://www.bmw.co.il/content/dam/bmw/common/all-models/i-series/i20-new/onepager/bmw-x-series-ix-onepager-ms-range.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1617023894805.jpg" alt="private">
	</div>
</div>
